<!DOCTYPE HTML>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans" rel="stylesheet">
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="sky"></div>
    <div id="ground">
      <div id="sign-container">
        <div class="sign"></div>
        <div class="left-leg sign-leg"></div>
        <div class="right-leg sign-leg"></div>
      </div>
      <div id="shadow">
        <div class="sign"></div>
        <div class="left-leg"></div>
        <div class="right-leg"></div>      
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>