/* Constants */
body
  margin: 0
  overflow-x: hidden
  font-family: 'Mukta', sans-serif
  cursor: default
  overflow: hidden
  
=PseudoBox()
  content: ''
  width: 100%
  height: 100%
  display: block

$sunSize: 500px

/* Scenery */
#sky
  background: skyblue
  width: 100%
  height: 70vh

#ground
  border-radius: 10% 10% 0 0
  margin-top: -10vh
  background: green
  width: 100%
  height: 40vh
  position: relative
  &::before
    +PseudoBox()
    border-radius: 10% 10% 0 0
    background: url('img/seamless-grass-texture.jpg')
    background-size: 50% 50%
    opacity: 0.4
  
/* Sign */
$sign-height: 270px
$sign-radius: 20px
$sign-leg-height: 30%

#sign-container, #shadow
  position: absolute
  transform: translateX(-50%)
  left: 50%
  width: 70%
  height: $sign-height
  max-width: 700px
  
#sign-container
  top: $sign-height * -.75
  
.sign
  border-radius: $sign-radius
  box-sizing: border-box
  border: 6px double gray
  overflow: hidden
  width: 100%
  height: 100%
  background: lightgray
  position: relative
  &::after
    +PseudoBox()
    background: #009e44
  
%sign-leg
  width: 7%
  max-width: 50px
  height: $sign-leg-height
  background: gray
  position: absolute
  top: 100%

.left-leg
  @extend %sign-leg
  left: $sign-radius * 1.75
  
.right-leg
  right: $sign-radius * 1.75
  @extend %sign-leg

/* Sign Contents */
#sign-contents
  position: absolute
  margin: 2% 4%
  width: 92%
  height: 92%
  color: white
  h1, p
    margin: 0
    
#main-info-right
  position: absolute
  top: 0
  right: 0
  #icon
    width: 75px
    height: 75px
  #wind
    position: relative
  #wind-speed
    position: relative
    right: 32px
  #wind-direction
    width: 32px
    height: 32px
    position: absolute
    top: -6px
    right: 6px
    font-size: 2em
    
#additional-info
  margin-top: 2em
  padding-top: 0.5em
  border-top: 3px solid lightgray
  display: flex
  justify-content: space-around
  text-align: center
  
#sun-event
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  
/* Shadow */
#shadow
  transform: translateX(-50%) rotate(180deg)
  top: $sign-height * .85
  *
    transform: skew(-80deg)
    background: rgba(50,50,50,0.5)
    border: none
  %sign-leg
    transform-origin: 100% 100%
  .sign
    transform-origin: 100% (100% + $sign-leg-height)
    &::after
      display: none
    
/* Sidebar */
#sidebar
  font-size: 0.8em
  box-sizing: border-box
  border-left: 2px solid gray
  border-bottom: 2px solid gray
  position: fixed
  width: 250px
  background: whitesmoke
  right: -250px
  transition: right 0.2s linear
  padding: 1em
  &.open
    right: 0
#sidebar-toggle
  width: 50px
  height: 50px
  position: absolute
  left: -50px
  top: 0
  background: none
  border: none
  font-size: 30px
  color: white